// .gradient-custom {
//     /* fallback for old browsers */
//     background: #53a3d9;
  
//     /* Chrome 10-25, Safari 5.1-6 */
//     background: -webkit-linear-gradient(to right bottom, rgb(52, 99, 163), rgb(33, 112, 169));
  
//     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//     background: linear-gradient(to right bottom, rgb(43, 150, 217), rgb(47, 121, 191));
//   }

// .download-button{
//   background-color: #2d72cd;
//   color: #fff;
//   border: none;
//   padding: 10px 20px;
//   cursor: pointer;
//   font-size: 16px;
//   border-radius: 5px;
//   transition: background-color 0.3s ease;

//   &:hover {
//     background-color: #0056b3;
//   }

//   &:focus {
//     outline: none;
//   }
// }


.certificate-bg {
  background-color: #f4f5f7;
}

.download-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.certificate-card {
  border-radius: 0.5rem;
}

.certificate-logo {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.certificate-content {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.social-icons {
  margin-top: 20px;

  a {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
