// $primary-color: #3498db;
// $secondary-color: #ffffff;

// body {
//   background-color: $secondary-color;
//   color: #000000;
//   font-family: Arial, sans-serif;
// }
// .table-container {
//   padding: 25px; /* Adjust the padding as needed */
// }
// h1 {
//   color: $primary-color;
// }

// table {
//   width: 100%;
//   border-collapse: collapse;
//   margin-bottom: 20px;
//   border: 2px solid #ccc;
// }

// th, td {
//   padding: 10px;
//   border-bottom: 1px solid hsl(0, 0%, 87%);
  
// }

// th {
//   background-color: $primary-color;
//   color: $secondary-color;
// }

// button {
//   background-color: $primary-color;
//   color: $secondary-color;
//   border: none;
//   padding: 8px 12px;
//   cursor: pointer;
// }

// button:hover {
//   opacity: 0.8;
// }

// .line-row {
//   height: 1px;
// }

// .line-cell {
//   border-top: 1px solid #6d6868;
//   padding: 0;
// }

// h1 {
//   color: rgb(71, 80, 83);
//   transition: color 0.3s ease;
//   text-align: center;

//   &:hover {
//     color: rgb(68, 167, 238);
//   }
// }

// mentorList.scss

$primary-color: #3b82f6;
$secondary-color: #ffffff;
$tertiary-color: #f9fafb;
$heading-color: #1e3a8a;

.table-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: $tertiary-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;

  h1 {
    color: $heading-color;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid $tertiary-color;
    background-color: $secondary-color;

    th,
    td {
      padding: 12px;
      border-bottom: 1px solid $tertiary-color;
    }

    th {
      background-color: $primary-color;
      color: $secondary-color;
      text-align: left;
    }

    td {
      text-align: left;
    }

    tbody tr:last-child td {
      border-bottom: none;
    }

    .line-row {
      td {
        border: none;
      }
    }

    .blocked {
      color: #e53e3e;
    }

    .active {
      color: #34d399;
    }
  }

  button {
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: $secondary-color;
    cursor: pointer;
  }

  button.details-button {
    background-color: #71797e;
  }

  .blocked-button {
    background-color: #ff2e2e;
  }

  .active-button {
    background-color: #32cd32;
  }
}
