// // UserList.scss
// $primary-color: #3498db;
// $secondary-color: #ffffff;

// body {
//   background-color: $secondary-color;
//   color: #000000;
//   font-family: Arial, sans-serif;
// }

// h1 {
//   color: $primary-color;
// }

// table {
//   width: 100%;
//   border-collapse: collapse;
//   margin-bottom: 20px;
// }

// th, td {
//   padding: 10px;
//   border-bottom: 1px solid #dddddd;
// }

// th {
//   background-color: $primary-color;
//   color: $secondary-color;
// }

// button {
//   background-color: $primary-color;
//   color: $secondary-color;
//   border: none;
//   padding: 8px 12px;
//   cursor: pointer;
// }

// button:hover {
//   opacity: 0.8;
// }


$primary-color: #3498db;
$secondary-color: #ffffff;

body {
  background-color: $secondary-color;
  color: #000000;
  font-family: Arial, sans-serif;
}

h1 {
  color: $primary-color;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 2px solid #ccc;
}
.table-max {
  padding: 25px; /* Adjust the padding as needed */
}

th, td {
  padding: 10px;
  border-bottom: 1px solid hsl(0, 0%, 87%);
  
}

th {
  background-color: $primary-color;
  color: $secondary-color;
}

button {
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.line-row {
  height: 1px;
}

.line-cell {
  border-top: 1px solid #6d6868;
  padding: 0;
}

h1 {
  color: rgb(71, 80, 83);
  transition: color 0.3s ease;
  text-align: center;

  &:hover {
    color: rgb(68, 167, 238);
  }
}



