/* adminCourseList.css */

.admin-course-list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f6f6f6;
  }
  
  .admin-course-list h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .admin-course-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-course-list th,
  .admin-course-list td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .admin-course-list th {
    background-color: #f9f9f9;
    color: #555;
    text-align: left;
  }
  
  .admin-course-list td {
    color: #333;
  }
  
  .admin-course-list tbody tr:hover {
    background-color: #fafafa;
  }
  