.section-user-profile {
  background-color: #c7c7c7;
    .gradient-custom {
      /* fallback for old browsers */
      background: #3c6bb8;
  
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to right bottom, #1976d2, #1976d2);
  
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right bottom, #1976d2, #1976d2);

    
    }
    
  }
  