.custom-modal {
    
    max-width: 400px;
    max-height: 450px; /* Adjust the width as per your needs */
    margin: auto;
    border-radius: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a58a1 

  }


  